:root{
  --primary:#ffffff;
  --secodary: #000000;
  --ctr1: #F76B1B;
  --ctr2: #FF2727;
}
#root{
}

.LoadScreen{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(var(--ctr1),var(--ctr2));
}


.ADBanner{
  background: linear-gradient(to right,var(--ctr1),var(--ctr2));
  margin: 0;
  border-radius: 20px;
  padding: 0 3%;
  height: 35vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ADBanner img{
  height: 100%;
}
.ADBanner h1{
  color: var(--primary);
  font-size: x-large;
}
#HomePage{
 padding: 3%;
}
#HomePage nav{
  padding: 2% 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#HomePage nav a{
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  color: black;
}
#HomePage #focus{
  font-size: x-large;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.grid{
 display: grid;
 grid-template-columns: repeat(3,1fr); 
  gap: 5%;
}
#PoductCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: fit-content;
}
#PoductCard img{
  width: 100%;
}

.BottomNav{
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: 1% 0;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
  ;  
}
.BottomNav a{
  text-decoration: none;
  color: black;
  font-size: larger;
}




@media screen and (max-width : 768px) {
  .grid{
    grid-template-columns: repeat(2,1fr);
  }
  .ADBanner{
    height: 25vh;
   }
  
}