:root{
  --primary:#ffffff;
  --secodary: #000000;
  --ctr1: #F76B1B;
  --ctr2: #FF2727;
}


.LoadScreen{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(var(--ctr1),var(--ctr2));
}